@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
  perspective: 1000px;
  width: 340px;
  height: 480px;
  margin: 50px auto;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-back {
  transform: rotateY(180deg);
}

.shadow-whiteOutline {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: calc(100% - 20px);
}

input[type="file"] {
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background-color: #000;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

p {
  color: #fff;
}

